<form class="madlibs" method="get">
	<p>
		<label for="dispute-pathway-have">I have a</label>
		<select id="dispute-pathway-have" name="have">
			<!-- {{#each have}}<option value="{{ option }}">{{ option }}</option>{{/each}} -->
		</select>
		<label for="dispute-pathway-with">with</label>
		<select id="dispute-pathway-with" name="with">
			<!-- {{#each with}}<option value="{{ option }}">{{ option }}</option>{{/each}} -->
		</select>
		<label for="dispute-pathway-about">about</label>
		<select id="dispute-pathway-about" name="about">
			<!-- {{#each about}}<option value="{{ option }}">{{ option }}</option>{{/each}} -->
		</select>.
	</p>
</form>
