<div class="status fail">
	<h2>An internal error has prevented the requested resource from being displayed</h2>
	<p>Please try to access this address again in 30 minutes.</p>
</div>

<div class="status info">
	<h2>We can still help with resolving your neighbourhood dispute</h2>

	<p>You can access general information about housing and neighbours and neighbourhood dispute resolution.</p>

	<h3>Further assistance</h2>
	<p>Please contact us if you require further assistance with your request.</p>
</div>
