<div class="status fail">
	<h2>An internal error has prevented the requested resource from being displayed</h2>
	<p>Please try to access this address again in 30 minutes.</p>
</div>

<div class="status info">
	<h2>We can still help with resolving your neighbourhood dispute</h2>

	<p>You can access general information about <a href="http://www.qld.gov.au/law/housing-and-neighbours/">housing and neighbours</a> and <a href="http://www.qld.gov.au/law/legal-mediation-and-justice-of-the-peace/setting-disputes-out-of-court/neighbourhood-mediation/">neighbourhood mediation</a>.</p>

	<h3>Further assistance</h2>
	<p>Please contact us if you require further assistance with your request.</p>
</div>
