/* blockquote for customer story */
blockquote {
	font: 3em/1.3 Georgia, Times, 'Times New Roman', serif;
	color: #777;
	quotes: "‘" "’";
	margin: 0;
	padding: 0;
}
blockquote p {
	margin: 1em 0;
}
blockquote > p::before {
	content: open-quote;
}
blockquote > p::after {
	content: close-quote;
}
blockquote strong {
	color: #000;
	font-weight: normal;
}


/* datatables */
.dataTables_wrapper {
	padding-top: 0;
}
.dataTables_info,
.paginate_button {
	font-size: 80%;
}
table.dataTable thead th {
	font-size: 100%;
	padding-left: 1em;
	padding-right: 1em;
}
.dataTables_paginate {
	float: none;
	text-align: left;
	margin-left: .3em;
}
.paginate_button {
	margin-left: .7em;
}
.paginate_button.disabled {
	display: none;
}
.paginate_button.current {
	color: inherit;
	text-decoration: none;
}